<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>200</integer>
		<key>y</key>
                <integer>50</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>340</integer>
		<key>y</key>
                <integer>50</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>480</integer>
		<key>y</key>
                <integer>50</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>620</integer>
		<key>y</key>
                <integer>50</integer>
	</dict>
         <dict>
		<key>x</key> 
                <integer>635</integer>
		<key>y</key>
                <integer>270</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>500</integer>
		<key>y</key>
                <integer>270</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>500</integer>
		<key>y</key>
                <integer>385</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>755</integer>
		<key>y</key>
                <integer>385</integer>
	</dict>
        <dict>
		<key>x</key> 
                <integer>1100</integer>
		<key>y</key>
                <integer>165</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>50</integer>
		<key>y</key>
                <integer>180</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>285</integer>
		<key>y</key>
                <integer>600</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>470</integer>
		<key>y</key>
                <integer>730</integer>
	</dict>
        <dict>
                <key>x</key>
                <integer>600</integer>
                <key>y</key>
                <integer>730</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>755</integer>
                <key>y</key>
                <integer>610</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>1000</integer>
                <key>y</key>
                <integer>610</integer>
        </dict>
</array>
</plist>
